<h1>Админ-панель</h1>
<p>Добро пожаловать в административную панель.</p>

<ul>
  <li><a href="<%= admin_users_path %>">Управление пользователями</a></li>
  <!-- Добавьте другие административные ссылки и функции здесь -->
</ul>
