

  <div class="card shadow-sm">
    <div class="card-body">
      <h4 class="card-title">Контакты</h4>
      <p>
        По вопросам сотрудничества:<br>
        <a href="mailto:contact@dictionary-gpt.example">contact@dictionary-gpt.example</a>
      </p>
    </div>
  </div>
