.main-nav {
  background: #2c3e50;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  gap: 2rem;
}

.nav-link {
  color: #ecf0f1;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
  font-size: 1.1rem;
  position: relative;
  padding: 0.5rem 0;
}

.nav-link:hover {
  color: #3498db;
}


.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #3498db;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

/* Активная страница */
.nav-link.active {
  color: #3498db;
  font-weight: bold;
}
.centered-input-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f9fa; /* Светлый фон */
}

.custom-input {
  padding: 1.5rem;
  border-radius: 15px;
  border: 2px solid #dee2e6;
  transition: all 0.3s ease;
  font-size: 1.1rem;
}

.custom-input:focus {
  border-color: #86b7fe;
  box-shadow: 0 0 0 4px rgba(13, 110, 253, 0.25);
  outline: none;
}

